page-sell {

.my-label{

	 font-weight: bolder;
	 font-size: 30px;

}

p.myerror {
    color: tomato;
    text-align: center;
}

page-sell .myerror {
    background-color: transparent;
}

.title{

	text-align: center;
	color: #488aff;
}
}
