<ion-header>
  <ion-navbar color="primary">
    <ion-title>
     Buy
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<h6 class="title"> Please Fill The Form To Purchase Your Order !!</h6>

  <form [formGroup]="formgroup">

  <ion-item>
    <ion-label stacked class="my-label">Name </ion-label>
    <ion-input type="text" formControlName="name" [(ngModel)]="nameInput" ></ion-input>
  </ion-item>

  <p class="myerror" *ngIf="formgroup.controls.name.hasError('required') && formgroup.controls.name.touched"> 
*Name is required !! </p>
  

  <!-- <ion-item>
    <ion-label stacked class="my-label">Contact Number</ion-label>
    <ion-input type="number" formControlName="contact" [(ngModel)]="contactInput"></ion-input>
  </ion-item>

  
    <p class="myerror" *ngIf="formgroup.controls.contact.hasError('required') && formgroup.controls.contact.touched"> 
    *Contact number is required !!</p>
     -->
  

  <ion-item>
    <ion-label stacked class="my-label">What kind of property are you looking for? </ion-label>
    <ion-input type="text" formControlName="description" [(ngModel)]="descriptionInput"> </ion-input>
  </ion-item>

  
    <p class="myerror" *ngIf="formgroup.controls.description.hasError('required') && formgroup.controls. description.touched"> *Description is required !!</p>
    

  <!-- <ion-item>
    <ion-label stacked class="my-label">Price Range</ion-label>
    <ion-input type="number" formControlName="price" [(ngModel)]="priceInput"></ion-input>
  </ion-item>

   <p class="myerror" *ngIf="formgroup.controls.price.hasError('required') && formgroup.controls.price.touched"> *Price Value is required !!</p>  -->
  

  <br>
  <br>


    <button ion-button full type="Submit" (click)="callPostService(nameInput,descriptionInput)">Submit</button>

  </form>

  
</ion-content>
