page-home {

.info1{
	padding-right: 10px;
	padding-top: 10px;
	font-weight: bold;
}

.info2{
	padding-right: 10px;
	padding-top: 10px;
}

ion-card-title.card-title.card-title-ios {
    font-weight: bold;
   text-align: center;
}
ion-card-title.card-title.card-title-ios {
    padding-left: 8px;
}


ion-card-title.card-title.card-title-md {
    font-size: 20px;
}

p {
    text-align: justify;
}


}

h3#alert-subhdr-7 {
    white-space: normal;
    text-align: left;
}

hr.hr {
    background-color: #488aff;
    height: 1px;
}


