page-rent {

	p.myerror {
    color: tomato;
    text-align: center;
}

span.button-inner {
    font-weight: bold;
}

.my-label{

	 font-weight: bolder;
	 font-size: 30px;
	 

}

.title{

	text-align: center;
	color: #488aff;
}
}
