page-signin {


}

input {
  border: 1px solid #000;
  padding: 10px;
  font-size: 15px;
}

ion-label.label.label-ios {
    font-size: 20px;
}

p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

p.signupHere {
    color: #488aff;
    text-align: center;
}
.iconBack{
	padding: 10px;
	margin: 20px;
}

