page-detail {


.property{
font-weight: bold;
text-align: center;

}

hr.hr {
    background-color: #488aff;
    height: 1px;
}

p {
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


}
